.blog {
  background:@lightgrey;
  .padding();
  width: 320px;
  margin: auto;
}

.blog__note {
  background: #d22856;
  padding: 5px 20px;
  color:@white-color;
}

.blog--big {
  width: 320px;
  margin: auto;
  background:@lightgrey;
  .padding();
}

.blog__wrapper {
  width:260px;
  margin:auto;
  text-align:left;
  .padding();
}

.blog__info {
  color:@darkblue;
  font-weight:700;
  margin:0;
  margin-top:15px;
}

.blog__time {
  font-weight:300;
}

.blog__review {
  margin:0;
}

.blog__likes {
  color:#d22856;
}

.blog__heart {
  display: inline-block;
  width: 32px;
  height: 12px;
  background-image: url("../img/icon-heart.svg");
  background-repeat: no-repeat;
}

@media (min-width: @tablet-width) {
  .blog--big {
    width:660px;
  }

  .blog {
    display:flex;
    flex-wrap:wrap;
    width:270px;
    margin: auto;
    margin-top: 0;
  }

  .blog__wrapper--big {
    width:565px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-bottom:50px;
  }

  .blog__review {
    order: 3;
  }
}
