.blog {
  .padding();
  width: 320px;
  margin: auto;
}

.blog__note {
  background: #d22856;
  padding: 5px 20px;
  color: @white-color;
  position: absolute;
  top: 363px;
  right: 20px;
}

.blog--big {
  width: 320px;
  margin: auto;
  background: @lightgrey;
  .padding();
}

.blog__wrapper {
  width: 240px;
  margin: auto;
  text-align: left;
  .padding();
  margin-top: -25px;
  background-color: @lightgrey;
  min-height: 155px;
}

.blog__info {
  color: @darkblue;
  font-weight: 700;
  margin: 0;
  margin-top: 15px;
}

.blog__time {
  font-weight: 300;
}

.blog__review {
  margin: 0;
}

.blog__likes {
  color: #d22856;
}

.blog__heart {
  display: inline-block;
  width: 32px;
  height: 12px;
  background-image: url("../img/icon-heart.svg");
  background-repeat: no-repeat;
}

.blog__photo-panorama {
  position: relative;
  width: 100vw;
  height: auto;
  left: calc(-50vw + 50%);
}

@media (min-width: @tablet-width) {
  .blog--big {
    width: 660px;
  }

  .blog {
    display: flex;
    flex-wrap: wrap;
    width: 300px;
    margin-top: 0;
    padding: 0;
  }

  .blog__wrapper--big {
    width: 565px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-bottom: 50px;
  }

  .blog__review {
    order: 3;
  }

  .blog__photo {
    z-index: 50;
  }

  .blog__wrapper {
    margin: 0;
    margin-top: -10px;
  }

  .blog__photo-panorama {
    left: calc(-50vw + 50%);
  }

  .blog__note {
    top: 615px;
  }
}

@media (min-width: @desktop-width) {
  .blog__note {
    top: 578px;
    right: 130px;
  }

  .blog__wrapper--big {
    width: 960px;
    margin: auto;
  }

  .blog--big {
    width: 960px;
    margin: auto;
  }
}
