.feature-item {
  width: 307px;
  margin:auto;
  margin-bottom: 40px;
}

.feature-item__title {
  font-weight: 700;
  font-size: 16px;
  color: black;
  text-align: center;
  line-height:24px;
}

.feature-item__description {
  color:@darkblue;
  font-size: 14px;
  line-height:24px;
  text-align: center;
}

@media (min-width: @tablet-width) {
  .feature-item {
    margin:0;
    margin-left: 329px;
  }

  .feature-item__description {
    text-align:left;

  }

  .feature-item__title {
    text-align:left;
  }
}

@media (min-width: @desktop-width) {
  .feature-item {
    margin:0;
    margin-top:265px;
    width:230px;
    font-size:18px;
    line-height:30px;

  }

  .feature-item__title {
    font-size:30px;
    line-height:30px;
    text-align:center;

  }

  .feature-item__description {
    text-align:center;
  }
}
