.feature-item {
  width: 307px;
  margin:auto;
  margin-bottom: 40px;

&__title {
  font-weight: 700;
  font-size: 16px;
  color: black;
  text-align: center;
  line-height:24px;
}
}

.feature-item__description {
  color:@darkblue;
  font-size: 14px;
  line-height:24px;
  text-align: center;
}
