.icon-download {
  margin: 0 auto;
  width: 100%;
  background-color: @darkblue;
  background-image: url("../img/iphone-hand-mobile@1x.png"), url("../img/bg-back-mobile@1x.jpg");
  background-repeat: no-repeat;
  background-position: 0% 35%, 50% 0%;
}

.icon-download__link {
  padding-right: 37px;
}

.icon-download__description {
  color: @text-color;
  width: 303px;
  margin: 0 auto;
  padding-top: 23px;
  padding-bottom: 33px;
}

.icon-download__button {
  display: block;
  border: 3px solid white;
  padding-left: 35px;
  padding-right: 35px;
  padding-top: 15px;
  padding-bottom: 15px;
  border-radius: 30px;
  font-weight: 700;
  font-size: 18px;
  line-height: 18px;
  text-decoration: none;
  color: @text-color;
  margin: 28px 20px 30px 20px;
}

.icon-download__title {
  display: none;
}

.icon-download__wrapper {
  margin: auto;
  display: flex;
  justify-content: end;
  flex-direction: column;
}

.icon-download__wrapper--mobile {
  padding-top: 500px;
}

@media (min-width: @tablet-width) {
  .icon-download {
    width: 100%;
    min-height: 620px;
    margin: 0 auto;
    background-color: transparent;
    background-image: url("../img/iphone-hand-mobile@1x.png"), url("../img/bg-back-mobile@1x.jpg");
    background-repeat: no-repeat;
    background-size: contain, cover;
    background-position: 100% 0%;
  }

  .icon-download__wrapper {
    background-image: none;
    width: 660px;
    display: flex;
    flex-direction: column;
  }

  .icon-download__title {
    display: block;
    font-size: 40px;
    line-height: 48px;
    font-weight: 300;
    color: @white-color;
    margin: 0;
    width: 192px;
    margin-top: 100px;
    margin-left: 77px;
  }

  .icon-download__button {
    width: 210px;
    margin-top: 37px;
  }

  .icon-download__list {
    text-align: left;
    margin-left: 65px;
  }

  .icon-download__link--android {
    opacity: 0.5;
  }

  .icon-download__description {
    margin-left: 25px;
  }

  .icon-download__wrapper--mobile {
    padding-top: 0;
}
}

@media (min-width: @desktop-width) {
  .icon-download {
    position: relative;
    width: 100%;
    min-height: 740px;
    margin: auto;
    background-color: none;
  }

  .icon-download__title {
    margin-top: 120px;
  }

  .icon-download__wrapper {
    min-height: 285px;
    margin: auto;
    width: 960px;
  }
}
