.main-content {

  background-color: @darkblue;
  background-image: url("../img/bg-back-mobile@1x.jpg");
  background-repeat: no-repeat;
  background-position: 50% 25%;
  overflow: hidden;
  min-height:170px;
  width:100%;
}

.main-content__title {
  color:@white-color;
  font-size:24px;
  width:280px;
  font-weight:300;
  margin:auto;
  padding-top: 33px;
}

