.menu {
  width:100%;
  text-align:center;
}

.menu__list {
  list-style:none;
  margin:0;
  padding:0;
}

.menu__link {
  font-weight: 700;
  font-size: 18px;
  line-height: 32px;
  color: white;
  text-decoration: none;
  padding-top:15px;
  padding-bottom:15px;
  display: block;
}
