.prices {
  margin-left: -355px;
  width: 800px;
  color: @darkblue;
}

.prices__first-line {
  background: @darkblue;
  font-size: 18px;
}

.prices__title {
  margin-bottom: 0;
  color: @white-color;
}

.prices__amount {
  margin-top: 0;
  color: @white-color;
}

.prices__second-cell {
  padding-top: 15px;
  padding-bottom: 15px;
  text-align: left;
  padding-left: 20px;
  text-transform: uppercase;
}

.prices__second-line {
  background: @white-color;
}

.prices__third-line {
  background: @white-color;
}

.prices__fourth-line {
  background: @white-color;
}

.prices__second-cell--title {
  text-align: center;
  padding-left: 0;
}

@media (min-width: @tablet-width) {
  .prices {
    margin: auto;
    width: 660px;
  }

  .prices__zero-cell-empty {
    background: @lightgrey;
  }

  .prices__second-cell {
    font-size: 0;
  }

  .prices__second-cell--title {
    font-size: 18px;
  }

  .prices__yes {
    background-image: url("../img/icon-yes.svg");
    background-position: 50% 50%;
    background-repeat: no-repeat;
  }

  .prices__no {
    background-image: url("../img/icon-no.svg");
    background-position: 50% 50%;
    background-repeat: no-repeat;
  }
}

@media (min-width: @desktop-width) {
  .prices {
    width: 960px;
  }
}
