.reivew {
  width: 283px;
  margin: auto;
}

.reivew__autor {
  font-weight: 700;
  line-height: 30px;
  font-size: 18px;
  color: black;
  text-align: center;
}

.reivew__person {
  display: none;
}

@media (min-width: @tablet-width) {
  .reivew {
    width: 660px;
    display: flex;
    flex-direction: column-reverse;
    justify-content: center;
  }

  .reivew__person {
    display: block;
    margin-top: 0;
  }

  .reivew__autor {
    margin-bottom: 5px;
  }

  .reivew__text {
    width: 502px;
    margin: auto;
  }
}

@media (min-width: @desktop-width) {
  .reivew {
    min-height: 415px;
    width: 960px;
  }

  .reivew__text {
    width: 610px;
    margin-bottom: 40px;
  }
}
